
a {
    color: grey;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-height: 6.2rem;
    padding: 1.2rem 3.2rem;
}

.user-info {
    align-items: center;
    color: grey;
    display: flex;
    font-size: 1.7rem;
}
  
.points {
    background-color: rgba(172, 172, 172, 0.2);
    border-radius: 2.05rem;
    padding: 1rem;
    text-align: center;       
}

span {
    margin-right: 0.7rem;
}

.user-name {
    margin-right: 2.7rem;
}

  